body{
    background-color: #6899ff;
}

h1{
    color: #fff1fa;
}

.btn{
    cursor: pointer;
}

.click{
    color: chartreuse;
}

.form, greeting {
    display: none;
}

.showing {
    display: block;
}